# SPDX-License-Identifier: Apache-2.0
[package]
name = "substrait"
version = "0.14.0"
edition = "2021"
rust-version = "1.60"
description = "Cross-Language Serialization for Relational Algebra"
documentation = "https://docs.rs/substrait"
readme = "README.md"
homepage = "https://substrait.io"
repository = "https://github.com/substrait-io/substrait-rs"
license = "Apache-2.0"
keywords = ["substrait"]
build = "build.rs"
include = [
  "LICENSE",
  "build.rs",
  "src/**/*.rs",
  "src/version.in",
  "substrait/LICENSE",
  "substrait/README.md",
  "substrait/extensions/**/*.yaml",
  "substrait/proto/**/*.proto",
  "substrait/text/**/*.yaml",
]

[features]
default = []
pbjson = ["dep:pbjson", "dep:pbjson-build", "dep:pbjson-types"]
protoc = ["dep:protobuf-src"]
serde = ["dep:prost-wkt", "dep:prost-wkt-build", "dep:prost-wkt-types"]
semver = ["dep:semver"]

[dependencies]
pbjson = { version = "0.5", optional = true }
pbjson-types = { version = "0.6", optional = true }
prost = "0.11"
prost-types = "0.11"
prost-wkt = { version = "0.4", optional = true }
prost-wkt-types = { version = "0.4", optional = true }
semver = { version = "1", optional = true }
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[build-dependencies]
git2 = { version = "0.18.0", default-features = false }
heck = "0.4"
pbjson-build = { version = "0.5", optional = true }
prettyplease = "0.2.4"
prost-build = { version = "0.11", default-features = false }
prost-types = "0.11"
prost-wkt-build = { version = "0.4", optional = true }
protobuf-src = { version = "1", optional = true }
schemars = "0.8"
semver = "1"
serde_yaml = "0.9"
syn = "2.0.11"
typify = "0.0.13"
walkdir = "2"

[dev-dependencies]
serde_yaml = "0.9"
walkdir = "2"

[package.metadata.docs.rs]
features = ["semver"]
rustdoc-args = ["--cfg", "docsrs"]
