# SPDX-License-Identifier: Apache-2.0

name: Check

on: [push, pull_request]

jobs:
  license:
    name: SPDX License Header
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v6
      - uses: enarx/spdx@master
        with:
          licenses: Apache-2.0

  formatting:
    name: Formatting
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - run: npm install prettier prettier-plugin-toml
      - run: npx prettier --check --no-config .
