# SPDX-License-Identifier: Apache-2.0

name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo install cargo-smart-release --debug --locked
      - uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: cargo check
      - run: cargo changelog --execute substrait
      - run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - env:
          GH_TOKEN: ${{ github.token }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_IO_TOKEN }}
        run: |
          cargo smart-release \
            --allow-fully-generated-changelogs \
            --execute \
            --no-changelog-preview \
            --allow-dirty \
            --verbose \
            substrait
